<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static '/m2.css'%}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
    <title>Atif Aslam songs</title>

    <script src="jquery-3.5.1.min.js"></script>

</head>

<body class="normal">



    <div class="main">


        <div class="searchSong">
            <div class="searchContainer">
                <input class="form-control mr-sm-4 w-50 mx-5 my-2" id="searchTxt" type="text"
                    placeholder="Search for songs">
                <a class="searchBtn ">
                    <svg width="25" height="25" viewBox="0 0 25 25">
                        <path class="fill_path" fill="#FFF" fill-rule="evenodd"
                            d="M69.5 34a6.5 6.5 0 0 1 6.5 6.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 69.5 47a6.5 6.5 0 1 1 0-13zm0 2C67 36 65 38 65 40.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5z"
                            transform="translate(-59 -32)"></path>
                    </svg>
                    Search Songs
                </a>
            </div>
        </div>

        <div class="theme">

            <button><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Dark mode"
                    onclick="changeTheme()" data-content="Check out the new Black theme"><i class="fa fa-moon-o"
                        style="font-size:48px;color:black;"></i></a></button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="singerName">
                    <h4 style="text-align: center; margin-top: 15px;">Best Of Atif Aslam</h4>
                </div>

                <div class="col-md-12 singerImage">
                    <a href="https://en.wikipedia.org/wiki/Atif_Aslam" tabindex="0" role="button" data-toggle="popover"
                        data-trigger="hover" title="Get Info" data-content="Click to get info about artist"
                        class="singerImg album-poster">
                        <img src="https://ucedb72d28149c746fb5fc951850.previews.dropboxusercontent.com/p/thumb/AA04GGVNTyO1ySZFLUSPTP-RMRe9UdDbmqo_bi9UcGGvEPqX2rYPftpnAukLA_KkvyIdlmXR0yudst6Ud_hmIpUF0RADSI0mPa3UwXIiiWMQ9ylFvBImlvHdmMVttve7vX36dReL9moV2gk0sJR5c5-GGtVP0Zkbklb73ZptmLtDTKWt-ATVLCqzhk0OfmmAp697MAgmsUmRrH-qgNfFwtEKa4-URCqCEiCIwi2jRqdYKm1_OefAVQhyWyfWxAzAcwKPY5kcjA6l1bZ5LSTJD4nOG__UExphq3YZ8ZEiV83Jb3JaHatuB8RoyhAVNXjnZ1g0wM8nw_D-d1dbAROx9Tev62XXqarwj9kfAqo9rKq3Uw/p.jpeg?fv_content=true&size_mode=5" id="singerImg" alt="Atif Image">
                    </a>
                </div>

                <hr>

                <hr>

                <div class=" songCard  col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="0">
                        <img src="https://ucbf97676cfdb63d60a6afadc301.previews.dropboxusercontent.com/p/thumb/AA2cG3tbxgyIT74tHc099NsrVlwESIyrTIBM-ODa7y8CbQCRJMmFSILAzj2gNP-EZEd3eUEHfuagoQk0EBagE1Se_V0UISiGz_9W07yn6DAtJ-9mMa7AGDEb4ds-SqHrfbc5FGKF0x_Jf6aZOvCN-0NIJpUAgkSdS1SoPAlJ6Jr327adl0HM8QF6I3Licx5kr3CxcIvpG8TZljExf3F_Kf6gsRrxy50qHiSJBpETD1lCc7PHNOxkXHdHFPXIzIq9dvtGcOoeHTSQLr12I5vWfrFjBUXEW9rPjTf6AAuw9TOS1HwSKCnxsWGrv86xiEtEz9td7waHT0Euht_ugHUdA2Lis1DgG7voAGlYhLWQdqu0ow/p.jpeg?fv_content=true&size_mode=5" alt="Image not loaded">
                    </a>

                    <div class="songNameContainer">
                        <h4>Jeene Laga Hoon</h4>
                    </div>
                    <p>Kabir Singh</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class=" songCard  col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="1">
                        <img src="https://ucc6ae4839a1b8662d539357cec9.previews.dropboxusercontent.com/p/thumb/AA0ai6PvqBM_qBZqs8Wn5aU0kQ4y6vFvNJ8qjjcv6Z9opuXeeAWw2y5AMF9S1kH-4hY4HOEhDeVn-uKkWBnKID5GWpoIahDdLro0s65VnR8b-iyx50HUdGQFwdN0tWWsfgcpXB6qmfoLGqRTJAHHOtNcvO1BmsjDsfr_0ACi5rreSZi-Qs72ieymE7I8Xc7IDng2X0RUQPXwpJTJWKrdmrwJtrBnMXerkVbLm-t8_03CK7jNqngW3Aiis5kEBcuZEUCjCHwjLZ0FESoj2UJXpL52fqiSy_lxa3Oj4MT_9QyGDaP9bhwa3yeyw3JcKjFzNfLw22jRDuDOjwBiGS5AcuOyGRGbomn20GAnX_tfNmfUqQ/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Maula</h4>
                    </div>
                    <p>Maula</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="2">
                        <img src="https://ucd0a1e63eafd7da3a1bab9ec261.previews.dropboxusercontent.com/p/thumb/AA3ZiYvTbvkEPIv_VqzuvOIyc7YW4mybshejRK7glGwNZWacYWptLdTh_iNq4RnwIb-ztpWMG8K1ju0vc3HHYq1u_xEreAAJPyD8XLMNycCQTC3gu2nPKoAERojXhyQHxn59NpR-4y_IXXLlfH4mofg_jNwre1SM2GXHkrVB9MRNJ9Z_VYWLd5ZVdZ3KjLsyUtapCZBCDYtBtmx8RC8HDaUK4mf24okv_1cl3KH5IUbr9jP5MN1yynCWRJ0Q3Wp9O-rlJMpLZWmHefqFpflNttfBOqZzWQKb_xM4QAP1MiZ3t5I36Ni4Y5YGVLhCTec6XM4HeiQ4AZOCPtyg7aBACY0OhFs8Lc-fi3gtAfMPa1zWcQ/p.jpeg?fv_content=true&size_mode=5" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Pehli Nazar Mein</h4>
                    </div>
                    <p>Race</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="3">
                        <img src="https://uc7f8c8b40982b55c64a1676e6d1.previews.dropboxusercontent.com/p/thumb/AA1okxiUgeGTqIzEEOrrZkiLUqKjuaePWFapbv4yeS-i93AKv5XnghfRHtbegldabgFf5h8_K7M43npZjm1_vWr9ziq_ABxH6pB2sezP2s0OAwnQekiWaaRsQaToWeg9FcbGm5WHfHVWBjoZF1jWbbnF2D_Su7Az_nqw1FGs7bjyDktYvykr063c0e53ZqUoWkeAHoLY9kmnDaFhKVS05tlYt01bkVWzvYwwEPNguW_YKWOtMN7Q5Go0pVyEurpeQPQCsfabtqdJx9huQDXUrKmjlLcK3isWSLK0uu7c6RcmZMC7VSXeGoJzhv8tt_AnEMecCqvXoXLdk5kvTRGdGhReZwt2Kkyul1Cxo7EQDyIjMg/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Piya O Re Piya</h4>
                    </div>
                    <p style="margin-top: 0px;">Tere Naal..</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="4">
                        <img src="https://uc98b78b3c44cd43008d5bf8151b.previews.dropboxusercontent.com/p/thumb/AA2lJFMhMxGgSUlBzaaoCoJaxTfVs6v7HEv3nulz1I-pI8E67nZyNxoNquo0jMDIr4hlrmQFfbLV1wiHqLmb2FqIH_pBdXd59auKS3KczhvnzmUwi66Ewrf9HQ7FRncP3KoSOv9sXWiuMjlAn0fCfPR41LeG7j2twnLQ_lh9RoobhudR2fdfLUJBkcKNHIAtrOE5hkMZZF8uEyaLAmsGsm0lHKNn6nL0UxPBaskRdlT1OQTcnkzHnMngazXAQoXsgHSTiia1doOiJXWTQQ4faWUu7MkpRGWG_DF5u-qTFej6LGm3IOfhwHYTfjeaDPiCOIUc-l7ZQV7JCk7yoOVSOPMaEHJRHNhkjmZqxzUxcUK0Uw/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Pehli Dafa</h4>
                    </div>
                    <p>Satyajeet Sena</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="5">
                        <img src="https://uce52235585165203509b89aaeb1.previews.dropboxusercontent.com/p/thumb/AA0_n7Z6XrqQgfb1d4gdVtlA65CFHXRT6Wv-G6aqeUw4nUvEB0h3Xp7yKiv_vDE-v3AH1VJlBX2JNE5BYMPtC4yHmERZ02EvdB-J6KIO9seoOPw9fD_482lI_wYfQIiVkTnraSwfjYwkcV-vuWLm6vq6h9xju9HlzIWaxme3kqJdHqTu1LR1SYfJPhzZc-QVf-uoX2ECkRZu4MCOPyRpviPrXYtvFff_p_DH6OYsUXEq-QBE8NHEWXIDpYITeoyBtYRm1K_6p-Gy7kZAxGiri87a3DTVToxnfa1m8q5CjtFjO1hGjcYqAnM48T-Xewm6d0pyAOKSRiuKlNxrxKFy5ofWLVA_51hxJ0135uIw-4RTrA/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tere Bin</h4>
                    </div>
                    <p>Simmba</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="6">
                        <img src="https://uc13f3fe10cdf59a5673e8ed4043.previews.dropboxusercontent.com/p/thumb/AA2KtTzTxMJVT5xK5Wx5D25Hou271jtlG_pa56kZ05dfWqcTwrIMd97F-S1Y0RDGRiF1meS0av4OuyEG29cqOk7Nxf6zRmksJ5QScF2KCmpLmk1oY27uxDhurFnCUXkOIbbw8ssyrZ6Ic9dVSI00CT4IuZChDEG0B2jJued5hrKPSPHQtdlpfBVRfhY7K3xWTuYWvPgzh9htBcuFbTyC47rFJEEbY08E8u_CmUYk7QhhtVS9_xQd7ifQSK9XilhbchVZt66R-7kPga00LUJdyd5WQJebMKfM0zT_JtBSxxvGg0t7o65CpS3ynvL0TbeltvvqGUJRDqKGpA5XpAGwj-HRGFUWi1LtROIVejcV9A0tlA/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tere Sang Yaara</h4>
                    </div>
                    <p>Rustom</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="7">
                        <img src="https://uc4815fcb4520d194aebec74664e.previews.dropboxusercontent.com/p/thumb/AA2HD1fWGrMPk4vA1velb99JG5EfhClCzl5CsYEwzadkOCOM5MEOqSG3Is_BlK7bc50RzvAeK36_iZobLzxVNIW4JzWjbGZgTFBoB1CSRPFyAuZzJ9Z5ybPaZtqfh1mFVYy0ymKQA_vhqvSivAUqHDEtsrAYwtmmcrMDFQfgqexRsQKELb3ViAY-Nn4_8hItjjmLPtYhJW4ks2QAqAKTE7DBQj-aMjfBasv3fSu3O2fryo13u4ZqIzd6ne0EifVR-uCjRFN0dS4cEvcRWQDEizZjA6s0ud-rBcBG321EWmMFML0sI2lZxCfwXzwQ7kj4CeVqnTqT9jc0ivL7dD6mwkEbKyFCpkPQ-_AlGaN_vn_uCg/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Woh Lamhe Woh Baatein</h4>
                    </div>
                    <p>Zeher</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="8">
                        <img src="https://ucae032a80f7dd0812329d1a541f.previews.dropboxusercontent.com/p/thumb/AA0JWZgZlI0iS8SzArroPpmrsBDWHpqasj6Gvt0iK_iTZa01q9ZsxAUiotva-GqEIaVEwyPet3aii96Sr4-qzHnB7oKgeRqO5nK2f5dR3WhQ7xWO9pQ2QMHPeBh9f6FwW9ezxbUorCKEQhGiGgr8k92QiSHEX_x43qXKimtX3HvVPMMq1aJv2kKxjqfTpqsaA8mXfkRiGPIeZNyQvvslkkJUGixgHxHUmInL_4MOuYoAK60SpJnryOcglcQKi6fhu6mO_Xi1XyEf2c9dR8sdmTB9X1WvCsCh342SUzYSifFTVK34TqFgqiLOT_rqJmJzIbGp4LeWHHE-HNIyxEQTwm032Z7QqhlIivVEXXcdz9S18Q/p.jpeg?fv_content=true&size_mode=5" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Baarish</h4>
                    </div>
                    <p>haalf Girlfriend</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="9">
                        <img src="https://uc8b78308a8097837e8cf9383474.previews.dropboxusercontent.com/p/thumb/AA2YBQj3TH7_gVTIZ0qaxFBLAhGOzhxZ8nmL2bYBgWQVfH9-qjEK_2xmDDw44bFdcB0YnLAOwZK9VOhMlr9uF9K1-sZ1SLYuVC65_A7ZQboI_yGe_P3-gh1lqJ2UhViqQO2AcPRBjibXmj0YlNYa6OpJyMVDXtg5ClqLCO2DJ11K4AuZpYauu0rDRBHxgT7zcAqZEsx0XkWWanPGIkBkIvjHAdfAeC6jUFH1lo1-7jqbaYdYodfUity8plElJSihyF1dGFNUdKnAWFnLiSavDScYGHqi1013xFcWB14PM8ISjbBfb7RDdA0DKpVkpu9T6FdNuIdhSrx0v-_YvcyYRNgVTRAltuEEmw6QBay9-UAB5A/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Gulabi Aankhein</h4>
                    </div>
                    <p>Sanam</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="10">
                        <img src="https://uc2ac7dfc2a98cf97564887dd7b0.previews.dropboxusercontent.com/p/thumb/AA3dkNRV7NFsaX1x7E1pNYoemW97ktPckffZTP4z5qK5glZVMGcvWQzqVhgKZ4NL1OFZEdbQ88wl_ln_hLqpmkhyWULovbVWhSuD-IviT4vKo3xonrcgKWbG92GaD7OoouWvbYu0VdWPVHaEvF829nlffjQ7bR1H9aYXMhGIaJgdUtRmWG0Qh44N-cD9j89jkcvPscS6aiEfKaKxjof4BJ2uwe4-5hfJwrWNvEAYCcl3gEYqrnOGkntjz78hlhr2vBQ5IddMxMfPMJkgdnbF5bApp5D9uXdngaTkOtW9z_Av3RFSl6ns1LY7PQpPuH0Vere53iCGm7WX4kWLz2KQPQsNDy-G2VgVACqZVnKN198fQQ/p.jpeg?fv_content=true&size_mode=5" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Sukoon Mila</h4>
                    </div>
                    <p>Mary Kom</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="11">
                        <img src="https://uc84b4cd2ad9432b7852ec93f0e2.previews.dropboxusercontent.com/p/thumb/AA1T6nvzbkpC8B9jz_yxKeCvltnBPCOLxhe6AtO0AZU3NmyKpd6KqahLuHqukz1N06EOb6HJamoyUhTAXLEfEAZkraSr1fFWGKH6bX0i85J1uRxOlMvk1NzwpUYy9Wp6U-QL7kW1RrKJfMPkQIY4eFdDUy3sDp4UIksAgNDTLUCzJbHZu3XXHMQhYyNWg53eXJlPg3_lhH2ncFTdNGhdr0cY3U53Z7xniOTwTKZMSJkkpKhdIelD8VgMKVdH9JjH43rkdPGwUHxU61ESLwXIH2k5HjRApQ60EL7-yVdmZ03D0h3Y3u_680hoK3vo0_K56GKp1REV7du0YU2x45KY8reXtD5kGmK25XqUn7PfmUMX4Q/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tera Hone Laga Hoon</h4>
                    </div>
                    <p>Ajab Prem ki Gajab Kahani</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="12">
                        <img src="https://ucfa799fbb77740d83366b54b024.previews.dropboxusercontent.com/p/thumb/AA15yTiwb_eS7IhYknWYm7g1QekEu8v1nTQCrpHcGpX_HclI_1MlOOLYhTM7wyD5nREu41WxNMb5aSeJOoPEQllhsvd3CRyWTQSS3rpvQkdLmUtokiqRRKyepDtKjquUiY7CQrfwk4r0bGsp8Y1onanyD-zY_PtbSowVlPRn5TMAimktRwzvo-Mx-o5ia-H7WJI0vKapiIUjeu6CzlhV8UQtYa4bDaqYmXS8d3tlIuzmKMUI0LglpIhjULTZ_HjYuO-PuDFYwW7KAgGt-naDh_i_1_LLpkWq5D3uyPvJxT0787MO1WnOCYw3gvBcdM-7EKy8FvlAVoUxF5GvLKA7TOpYJz0-iARb_4jeat1RKz8d6g/p.jpeg?fv_content=true&size_mode=5" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Tu Mohabbat Hai</h4>
                    </div>
                    <p>Tere Naal..</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>
                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="13">
                        <img src="https://uc61f41e09929cbc65df0d20ceaf.previews.dropboxusercontent.com/p/thumb/AA2Dh3Wkecjl2KGV20jb8PGOqhWOqZ3odtsUBaXq5N1cPNyynewCQgYmRAgrwn93ijwsFTyIqjWZs7JNniMY1N7kNyqyFa6U_dWoppPvV1a1bxItwJj0WjAZPT9MKdT5kBjnN8y-cBnwZkuAjVPtFxNWy2j7brI-JmRaGhn7KvzPB2TcaHTzEio8Kf0v6gjkqpczmT60aO4Q43V9oDi3rT4kwVfXcpDJa_yijCCUY14GVoJPkGDI1K5lU4PJlCFqfTX8qvuBEJHwU__947RFhrBwQFkx7V9Cp5HsMNb35p54H-pl7YraDwZhyHgp_O5Jrhpj2O3LroefzPY7mouQzxgJy4nDOdrU4JBaARDWnlIgww/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Main Rang Sharbaton Ka</h4>
                    </div>
                    <p>Phata Poster Nikla Hero</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="14">
                        <img src="https://uc1250195d7032b9298ffa78541b.previews.dropboxusercontent.com/p/thumb/AA0g9WGuzxyUZvUmstnrUIEJ8cJHvCcRvVr-m8EY9I58Ri3PUCb5dztDpreXc_3Tb5qV_XnaG9xO_UM1INMA5j56N3PmLI-2uWxbr44uRvR_WE8HiqAot9X2azTQ7br8aMKE2wW0qAfyte5zZGJ-mcGzLE7KowT_KqmtAwh9kNwAaJUO-_kwqSs1dSJ81mWic752Rz-JToBoZCpnSNfDEFjXOM5g9Zpyei3-VaCrAvldUq35EVB_u6_2wTJV3e1FIRhYZnA9jPEY9jTCwp7n2lllIrXYUdQ4DtxaTUxUZBa1mYbOULnKq_Z4acmGaDrORQZKEVlx5ymojIZORqT9zi0UpDc8hMGDHtk5HoQCFtq2NQ/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>O Saathi</h4>
                    </div>
                    <p>Baaghi 2</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>


                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="15">
                        <img src="https://uc4e1188f4df3eb1493eb8a51b9d.previews.dropboxusercontent.com/p/thumb/AA077VuNGlaH4FuFxFwvbNaGdFP0FZ7WO60PE7xGT5Ov3vIIv9Lkn89BjW7cbvIvanQjlywYB3Ml7oIfjjZm5W9CFmylj4RXCHVpymY4Q-YJrfoNV0sjkMghznJNFrwTdb2HsAZg4tBgdwYEzH8XVhroHmJz7VejpGb4haakUnlEsWINV0nAY4HXPLwWuO-xvn58uq3zteMx8cia9U2WyRcFO7ORHHch8STx5Fq7X9VMSk5Jk031H0EBFyQfnaCDKQuQu3FpgUUdXch65mtiwgTNzuQJN78OIzVAlGVZfr07KRGQDmWHx7korYH2qJg4pY_gGj57ij7WamzFW_MDu3YrNuGcCRC-oD6MRr5ABdtYnA/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Jeena Jeena</h4>
                    </div>
                    <p>Badlapur</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="16">
                        <img src="https://ucc53a941dab1946398b907c39ff.previews.dropboxusercontent.com/p/thumb/AA2fCmM6Fk47pwpktPYw8c2UZ2SD8Qzgl0hrXa6dOJWhROLYIviRxbHGnvng17R7dPJSlmHtbUjHhX3OMLY_-tn_xByh5rUwaPEbPyyTExzkNh06yNM9GQ3ivNj6mCZLpy147l3jMIv3kkQzGJlInOiIIPnh3CbIZZ_b2MXc_n2iFVKNUMQThJ5KSRcvvK4Ni_5g5d-aRKSglB45kllXGaBIHs3I2OHOQflD8K-3sIwauIuuNYQVz-wm7jvvK9nrkYTVvRqjt6xN2Ba7eAVL99piwfXFvDD35eIRHElw0YJYYLP5Kk3REk_xJKGNLCp8xDKQNYEn2tKikBv_ZTSVG9rR6N524zEuwlLyuYXbZvZVGg/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Atif_Aslam_Mashup</h4>
                    </div>
                    <p>Album</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="17">
                        <img src="https://ucdb922e9000e85256917e24d773.previews.dropboxusercontent.com/p/thumb/AA1Qief1Yy7uF6G-5p3Ul96imP-JamQObQHsg8GVOQHyW-sMK6kwlGNjklqlVX3IiusGAEotf5i_Op6Xs7xA08dmScJSyk6y9RgqOWV9trBeZSvzkkWW8SBmZkZ8bWaCB0WuHXVgye_Ya4_nSDa5PDiH2xN_AfnZNkL47qYjG8PBedUXptzNQVunDEPj_saoieFvQHoKUARb_KHzFMwE4JyMgGJFxKYK0slFuLzEywwxLw4-60YAufVq_pHyqNGLbwUJ5gNOprnrLNDvelaY6Y5JJQIGHPgCt2XIpZvqYHRKMg0kChaSBG5s4fN5ZACcb896Yj7mFJvjrIaEM8b5y9U84WlI-QSCoq-uYHJ_8yuV7A/p.jpeg?size=1600x1200&size_mode=3" alt="Image not loaded">
                    </a>
                    <div class="songNameContainer">
                        <h4>Paniyon_Sa</h4>
                    </div>
                    <p>Satyamev Jayete</p>
                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>


                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="18">
                        <img src="https://uc5fd67e9e83fecb4d8aa653c4d9.previews.dropboxusercontent.com/p/thumb/AA2jGQNZRkHqRTvLLaoavIBtilt_m1dmELlcNKm6lT_dyRk_29YsDez60wIJpsue1LrqGqHTzqMr9tRltcm2zr3YnTUen3tTTP-SXyhenbkmP4jHQUcAswpE_5uFWEaxXmJ-SwRl2hcFioPy9ekN6UYbRj-HC_5ch0iN2HmMvL9x9EUGSIv_Vipw-aO7KM8uUppS8unRHOsd92lmkEFImh1zV37LuQrzrRG2X87P1GIzNrYdbBhhKi1mZG0MZH8gT9zM3WIAPQyHAqDch8LX2FWlTF2NucgHKmFrz2HY6nAJZEhumXYPm0c6Xmnnq4efjnRfKwh-B4vaCTG7BGgZhzfWdqBIh6s0xiKbNm0vuTJEwA/p.jpeg?fv_content=true&size_mode=5" alt="Image not loaded">
</a>
                        <div class="songNameContainer">
                            <h4>Tu Jaane Na</h4>
                        </div>
                        <p>Ajab Prem ki Gajab Kahani
                        </p>

                        <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                            onclick="changeIcon(this)" title="Add favorites"
                            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                                style="font-size:35px;color:red"></i></button>
                </div>

                <div class="songCard col-md-3">
                    <a href="javascript:void();" class="album-poster" data-switch="19">
                        <img src="{% static '/atif/Tere_Liye.jpg' %}" alt="Image not loaded">
                    </a>

                    <div class="songNameContainer">
                        <h4>Tere Liye</h4>
                    </div>
                    <p> </p>

                    <button class="favBtn" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
                        onclick="changeIcon(this)" title="Add favorites"
                        data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
                            style="font-size:35px;color:red"></i></button>
                </div>

                <br>

                <span>
                    <h1 style="color:brown; font-family: cursive;"> More Songs <br> Coming Soon !!!</h1>
                </span>
                <hr>
            </div>
        </div>


        <div id="aplayer">

            <a data-placement="right" data-toggle="tooltip" title="Shuffle"> <button type="button"
                    class="aplayer-icon aplayer-icon-order"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                        viewBox="0 0 32 32">
                        <path
                            d="M22.667 4l7 6-7 6 7 6-7 6v-4h-3.653l-3.76-3.76 2.827-2.827 2.587 2.587h2v-8h-2l-12 12h-6v-4h4.347l12-12h3.653v-4zM2.667 8h6l3.76 3.76-2.827 2.827-2.587-2.587h-4.347v-4z">
                        </path>
                    </svg></button> </a>
        </div>








        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>


        <script src="{% static '/m2.js'%}"> </script>


</body>

</html>
