<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="{% static '/m1.css'%}">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
  <title>Arjit Singh Songs</title>

  <script src="jquery-3.5.1.min.js"></script>
</head>

<body class="normal">



  <div class="main">


    <div class="searchSong">
      <div class="searchContainer">
        <input class="form-control mr-sm-4 w-50 mx-5 my-2" id="searchTxt" type="text" placeholder="Search for songs">
        <a class="searchBtn ">
          <svg width="25" height="25" viewBox="0 0 25 25">
            <path class="fill_path" fill="#FFF" fill-rule="evenodd"
              d="M69.5 34a6.5 6.5 0 0 1 6.5 6.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5-1.5 1.5-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 69.5 47a6.5 6.5 0 1 1 0-13zm0 2C67 36 65 38 65 40.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5z"
              transform="translate(-59 -32)"></path>
          </svg>
          Search Songs
        </a>
      </div>
    </div>

    <div class="theme">

      <button><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Dark mode"
          onclick="changeTheme()" data-content="Check out the new Black theme"><i class="fa fa-moon-o"
            style="font-size:48px;color:black;"></i></a></button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="singerName">
          <h4 style="text-align: center; margin-top: 15px;">Best Of Arijit Singh</h4>
        </div>

        <div class="col-md-12 singerImage">
          <a href="https://en.wikipedia.org/wiki/Arjit_Singh" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" title="Get Info" data-content="Click to get info about artist"
            class="singerImg album-poster">
            <img src="https://www.dropbox.com/sh/hesjiw13fgp3sow/AADpzKVCEVT4CHqE_FOcC79ya/image/arjit.jpg?dl=0" id="singerImg" alt="Arjit Image">
          </a>
        </div>

        <hr>

        <hr>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="0">
            <img src="https://uc4827b04dbd95d6e3451c8a6202.previews.dropboxusercontent.com/p/thumb/AA0mqPZVyWhkiI4vPVVlGPLBMRzngjZ1bFzX-UomSag-DEcVHzcjts3ic6OW_AZGpc62CqPpLoD-AoTCwtlLtCXErtochrpYvatArZQcQ8AJbT7UFCSAEpDMDBEpC3F_3xFiZ_nHDdRPryfudyRgBBcL5DPO3XoXf-BcCgZizJskEMHo0tpJGEnxwHvCe9EZh6G6c87O1MypuoML8x-DezG-LTP-Od0eKA7Ik2k87P7Nb2fPC9Sy9f_98dn0gOKIhg51W3iUh6lzeoxwR588-EitUt1AX_JHfZrj2yMOU_JG9dnnOA452PXm8A5XaaBr8_qmD2ZI05ZcHn7-wZhuexxFkrBIkK85IMBomOBglOlKwg/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Bekhayali</h4>
          </div>
          <p id="songInfo"><b>Kabir Singh </b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>

        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="1">
            <img src="https://uce5fda4519656e97a9165cad0b4.previews.dropboxusercontent.com/p/thumb/AA3zWWKqQEPPGP8HGMELOWVSDWLHrIhmkwaBrwK390sqn9_gEUugNR_zlAfufc2mCiCiJh9cVl6hRrIzqLHzPedB4Mq0ZBb7Kpf8ZuOIkpIopgu4z30Y6lytZwF5N9HgZzMICuEn5r-c8KoQy4-hxtiwfTpmr8Rq68ED_Idt0oRGBp5JZ4Hhb6V8CKhkAQ_WwZGh9-gLr53r11oUpcvNDgeQTiqFM6jRwIUZVxqHg3Bq8nJpjZKTekIS5xgfAA_Rb_kAEmn3jP04DQIIN-uzoPyud-cY7m2Ek9NXlLuczim4rAgbo68hOM84SnIb2fxmARl3wMIuzP9u0KclNb6nZJTAZcPs6xeqsm0Zxl7jDFuGdw/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Dil Hi Toh Hai</h4>
          </div>
          <p><b>The Sky Is Pink</b></p>

          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="2">
            <img src="https://ucde630b59338865847993f18ca3.previews.dropboxusercontent.com/p/thumb/AA2pFlgtkQEA-BId1PbvnnsPwMSqVM8db8v87033S1o7BG__-AqPH9vpgvxk8A6KvFOlGHc7Fb6hd9GBwN4WcFOg-LSbZxPTUhnETqfFts0cv5-bP-vR5LCKKkTu0mTS_KSAjzUSINXMBNGTGrKLSjPnClOb1ZIMGFQzJGvgFa4PY-JNR-xXzf9Hr4cHDmWBvuopsh5QetGf0lJLABSeWrOQkeJosq9gS3bxAY6xPtv4FlQys1PQFaiVqTgWFBvfe5-JLRVrpv5NMYUuxsx9dRSRh5knaEt_d0yc_CMrIQS-ChB5d6RhRCswv2_U1xaSGmz3SxjYRujTR9I7dA9AJhAxDa8LPHHR6iYutaJ2rrrD5Q/p.jpeg?size=178x178&size_mode=1"></a>

          <div class="songNameContainer">
            <h4>Sanam Re</h4>
          </div>
          <p><b>Sanam Re</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="3">

            <img src="https://ucd2ec2bf1681b8050e67abd53a0.previews.dropboxusercontent.com/p/thumb/AA0-1vfiqEtJngRYScWTaG0jqYmM-73fEhVf5C7RjHxFi7RzQxTlK1Yjzsv305wIP0mKjOO0Zrm7hUNjGz6cOx1vFovUrM3xXA_hhJQ41YPkZIklHMcOJwLEnP-Z2SuVFunJroA3zJYxKeaWbfLQ0kDG_8uQUV--gcR3C-vHE6peInGvfNiVjYn6xE7uYsS0xqMtnmndw7Kv98npGryWCA-eSJHxZ-zmLUfp4fNEjbT7HH0wwaD7DC1WLWxcCWv_A5G3vqPArizF4OcXpa7s37BGmU0-Y1QTbRfjuM-DKaQQrXcQZynn4rgd3I-40TKllhhH9XVOwKjJbdZUk6v5oOZjMVq9VRE-ZwoBXKNZxGpq0w/p.jpeg?size=178x178&size_mode=1"> </a>
          <div class="songNameContainer">
            <h4>Khairiyat</h4>
          </div>
          <p><b>Chhichhore</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="4">

            <img src="https://ucc4cd2f9a34c8defd338a5f245c.previews.dropboxusercontent.com/p/thumb/AA19cU12rtsUrSxp0bY-G7EjzRs6IeCmEriENss0urHhcaeh8uRuyEIhLN2zjH-tod0Eorcffw9RSh6HFhQPBrClUUPQA0qI5LuVJhgJH8V3Rrbs5a7JoiIkb6p4ebe3DByaXjJpWLSzKmMYW8QbqrVvpepz8h4M5KI6s5sCooQ6nWr_vSlvegYTHcUZQBu6dRFA9gD9C-AiQp_icTHkE4j3PyLQvl4ofQ5-R5yHgidZDTjQIG1yj2ztZJDccIJuMJFfvhsCLdQOkz4mnW4-hnkcGdY6Nihtdw-qmljJ4B-bMT3f9Ky6crs_gIB7DAKiGQV3ZH_vPKO633jC5KbTDN34VhIaTydm4F3XFjEQu36wXA/p.jpeg?size=178x178&size_mode=1"> </a>
       <div class="songNameContainer">
            <h4>Phir Le Aaya Dil</h4>
          </div>
          <p><b>Barfi</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="5">
            <img src="https://ucbb9a2c7211a9b07c83dc3d51b1.previews.dropboxusercontent.com/p/thumb/AA2m9cmvBNSvSmYGSljuKoUUA6RciZmdbGSyc0pbYFKDOHeaSzpazj6BRjFCYh6iopJG1g7fxwDjBSMLQxTO6LDoINhapHq-XGmJJ-4B3aFeziXf8opg6eTR3fjEqgATyR4kHjn1z0YDjCFaLDAoCfMMObD0-YhfvuV1QUdagZ9yOki7hM3_r8grhDWcPHh7H-eZ7D4h-NN-QfZTgBmfdwFMtdHTZB5jDoE5iWRILq-dH9h8RAj056uwE0aYHGiUQ8YIOdza9mJbdK8DN0qovJ5NvZ2rnur6lwx_NdlUI9IG0gAMppZLA3z-QCg5Cuvauh76ECx_mfIOY_I3gfzmfmmhDMZr7g4KtIA5foz_uWeufw/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Pal</h4>
          </div>
          <p><b>Jalebi</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="6">
            <img src="https://uc5564126e3704da21d58b8e39bd.previews.dropboxusercontent.com/p/thumb/AA2cEvFx3QuWhTmVVjFLBS1LBb6snlbtip_W5SKZfGg4c5fSMAjZRacRvpqTUbFeJNZ5CWOrbYjEMqGdW6PzbbY97qSI0Ww1vU6nxWUTEGq5QHPl7vnkZhDBp7kB1sj-m2o6Wi4K1rr8ywoSH15hun_XsNufc6tbbL5002fKMtIyRBA17f9Wpeb-SBVcNfCm1ar7dhTgTev27ph2QMBEfmqpkD3lmLzaGfoKKqispizMI5GMYk-bsdzH_8q02RE1cLGwCVcgKj_Avp9-8vOSZqwz14Q1RbGT5ekYsum4mjkT5M430eFW0qGgJvdxLmWxGnlZg8GVmybgXHS_qQSCAPFYh3YaqC0PTIj_4S42UBJozA/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Sooraj Dooba Hai Aaj</h4>
          </div>
          <p><b>Roy</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="7">
            <img src="https://uc9083cff371ed1e45c2e58e60bd.previews.dropboxusercontent.com/p/thumb/AA2fDobx4Ie8x-brKMZpVLanj0DV__sRTTLhJ4pux6XdlMN2iH3VrKL8GgA20Ysj1cTgi06xFg_x8XpBy9OnSIJUvzRgOJvjp_Wa5NhxIrcJ94Ry_BsMUKu219ZcdXtkeYTIUK00TOFyxW7Ispx2jM0KkpTw7VvaKKPC9uLSDNJoiY4d1PP8mIqRkW7POaNbAvI1mtlVAwa1CzwxExQFMhZt6yMIiR-ar327L2AO6ZdkLyZ_i3a0aIYhuwh94bSap9-EUE5XGhegxpkBRqLeHD5g7pIev3V4_OxOAH92VueG6ZO0pqv1nINptLIhJa6PEBnWH9vRab1gR4735teClmPWM7mZUgrOiXvDmW0R-6r-Lw/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Sukoon Mila</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="8">
            <img src="https://uc8b49d0b7f9202d18e31efc81d4.previews.dropboxusercontent.com/p/thumb/AA0VDmoLtlnQK5azdQf10PWmRIxB71riNqIlTopgCbPb_j1cRRSpeegyuvMEySvbsuWRbiDkC-OGZXZMmauXad5tDm4xgTdgATbAJml3gO_RNsAEwKB1nN2TZv-rW3oqGILvba0fl8mx5GY4uUB8UaGTga_LlBBIlv9ADuUKzTK_DRniVxAhqu2_wtobNwvEASnzP3-7bu32sw_KM3RmnTM9dKZwuDeyd1gCy-uQVk5uqdr-3UXhz1r-MEGbsU1hz5kRd6RqkcGTsMClvx5JRcDq2un_bzybaYmyI8ecqFZUvqpFzSZBHhoMgs1as32sP3UjkrOeUpB7-WHjVvJKjBMCqqWhr7R7Uj53dujNnmqVCg/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Tera Hoke Rahoon</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="9">
            <img src="https://uc1f9bccc289d917b94d02674aba.previews.dropboxusercontent.com/p/thumb/AA3lDzgA_N023CTBstKLKXyJ-5AVEXmqZe2ITHGjHO-l-LJrZ37HR8WX8m9h5MvWiIwC-xhKC975cTqf4tMqQfd_qYIWFHnLngegPD0mMPAq_iZGfrG7eJMld0WLqAGqL1Up68YTLYGs7UEBeZosaoLQNFVsPEiY1PwlFnluivWCNssrkPLlMRSCZjTzmCJJilp8OSEa-85Isn7__PQqB70i7Z9NM2B3hsjNj_5AVFkihmS4urCXRqm04dMhz8Jh4vVFGdlRhOB-XBFGSBmJaY0gg5msm_QLCkdP5vbMJJsknfx5jlmvh3pTEcqHAc4MBVKdgZr9C3d9zbTtyn1W3ZnAF4TerijgkbeTYL-YtLbFCg/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Tu Hi Hai Aashiqui</h4>
          </div>
          <p><b>Aashiqui 2</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="10">
            <img src="https://uc59270ed07520ad24201ebdd581.previews.dropboxusercontent.com/p/thumb/AA3qtbbroQbWny1DL09doTmnUL4zqq3pWJymgMo8OoWXApDU7IFoO5ewmTkWr-exBMY3a1lFRJJJ7QUn3j5FHKjqlDUyVXHnbiAhtM8SSyrlB-KLbLv9BU040BmQIWB4Jua3JWce5Io-zh4S8ykzYn1QRe_4n9dDorbDZ-3iNHijHCWA1GepeSz4yKL_b9K2EghzYsc1ONRd33Kr74All7e0VZ9v0-aFSRpTtWkTLk50HjtvToOuSYNjaV0Z8vGxF-nCnetDeW8Y7u5UeNtYnZyzB5K-DaZl5ueAwp4jnUEaUFGHGvIxLnlvqLV_7tuqPs5F_K3m44LZ1zUJGf20JYT3f44v4d4PeHwJ-6lyosONMA/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Tum Hi Ho</h4>
          </div>
          <p><b>Aashiqui 2</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="11">
            <img src="https://uc436b372d9957574c49ffbe33d0.previews.dropboxusercontent.com/p/thumb/AA0TVh5kXEC8hWdj1n-1U9W03Ze6sqXmEYCQ5OEcudoZ4d5xhrVY_AwuaigrEpvnkpgonGuvxUDfbaefHISc2kFd6OmlrnppeqHVmf_m8CBi4C5bhOhlOoUgDXbSt59eHSryzmMhnl4HcEjmbXJ5ZuWZkxJvaNRrSrLsbjq97TFvfVIpbUM7guF14gv1W6jlEmKUGZQHafFYGz5rO2j3ZL5QIXrhh28jb-2CQ5dWijOMF8vF9YOUmPRxnloZMsgQ12NwvhRQYMjdDS7Dak2zuB9f5U0lJg4DYoFrIz2tbNob0ZZ_8alDUH087MDfO_WZR3lFHJwDP3qmTgOsLbjsrE5O2_QPMXiBvqp25Xn1Ynfc1Q/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4> Agar Tum Saath Ho</h4>
          </div>
          <p><b>Tamasha</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="12">
            <img src="https://uc2c56c524eff3bc18dcf8ccb513.previews.dropboxusercontent.com/p/thumb/AA1BKcul_cZgVKuXhcDFtMO69K6GZkuZn7azNlp7vX-c0BFW55zN3UEBFTjOQNY8SgBDiVLNQxxp2ewLzJ3hF7pn93rPD7M5pXngP7CiUIF4tS3RPtWzi6G1L3d42VEgOmgb6NcQf6hkhQVifupLxDP4pxX8cCMsxEKzr8hWHOFtYMYpC9AlIiKGBRCRWNwn_9mXqOkSGDHPKASg8GksGBIn_wWyIb8Fy-t03PFYmVBUjs5K5FywBXVF9tuV0PR7NwnwFe_g6uy9qi666OR2uj9UcFxbW2t-PyAzyqZnitMWbKHoUqFZQcL-2MAluAnhpr0Nd0NJxsmA0cY2taNLqlgI6W6GXHblwAmZsOOmjbezZg/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Darkhaast</h4>
          </div>
          <p><b>Shivaay</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="13">
            <img src="https://uc341693d0d6eeab7ad039ae7f30.previews.dropboxusercontent.com/p/thumb/AA2g6JXxG7J8QT4bVZtjageHMez-Gia-hefYXhvldEnU8jFdKezQL3CiDdhPFBMQ17HqYxR93GJFKS8r-C89fBRzJxhr-1Dyw3A0YQOj4WY-TmgFW2MDIEPUQL0v9IRraDuI6lYqnRArcE5SglxSSu6yxgnRklXZlT6Sm7ccrW92tRLraa-jMFsTPLfSppSHz6eI9AquxanZpGk5W4_5MFecDiNxM79XHQ74AMIvUdgYBU6cfeTLeyZxgYaM_RhTQgCZGOQ5SD9sF7BHiOdqsKK1YzMmiH_Jj_Qnz2xt7f9O9scz_XfjM8kr-UKrqriN6OTokatArxalAqc81WWYJFOzhRWT7LRsGdvCD1HRDDOLlw/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Laal Ishq</h4>
          </div>
          <p><b>Goliyon Ki Rasleela Ram-Leela </b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>
        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="14">
            <img src="https://uc2bd4a7fef8f146fd92c47b9540.previews.dropboxusercontent.com/p/thumb/AA2OYjoiEOXmIKl2h3K1AiU40WjxkTsJXZiRHzPvrkkkNBJLVLR2_cAlTw9iKAiD8tg1hd4TfUPHRW8lQZ6dL1DaKjvPa0ppaKzJauNcMHmO6wn3wyS6UQp8iTvefQ6eWTGz18uRH8feahsvOcM6wrKQMmWA2WeH9uuN9ZPpeGeBSazg3n_pOnJ83azROfhkRB9m4RSWt8PUMp1dFfA3a0NQ7d3f2SQay7HUI9F38Jv-Xt1QhzpphH-r4L_VHos9a-Ip_Tu1N5KuLRAbOs53bazxDf7cZ030mgt_e5oSas0tumv9j4LQAb5uSb9XhbzzBsomwuouH5gsAs6u9x5pV21uuCp9Njs0FxTscrdWjJeAaQ/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Illahi</h4>
          </div>
          <p><b>Yeh Jawaani Hai Deewani</b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="15">
            <img src="https://ucd40eeb8dca379018a95374d40c.previews.dropboxusercontent.com/p/thumb/AA1VpcQcLt0E2UmUuizSr7mDvk1iHRMFY1WbOtDInp0neKkQ6gnHfY83J89HfaIIWd8B-hE4vuNOBqa8nP91sHNcIBgK4qwN-Who32JaaaljlKlyzSVfObykBOMwvHZfzAWFzNi78zu63PyJkJsPiTmPbTPFiw5Qf19Be1NBT7jg2kpxsG6gztb2ZM-jmQmvD4k673WhOK-2aR7YUvEG-vpVm1vOtKXC_Bn2hdkQsDslqzJPPOCypoLdi45PAw_8QaEaxddhssOOYDVCzZMgtwuNZsqh2Oz5WhGRVq9CuZex5nYo0xAvajULRqwgdehBL-Pn41BpqU33DsXNgUr3JKuXWR1LSKKGQY5WfhDJOp1UUA/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Ik Vaari ya</h4>
          </div>
          <p><b>Raabata</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="16">
            <img src="https://ucb0fb869581ebace3cabfeb15ce.previews.dropboxusercontent.com/p/thumb/AA16EHBz5U4UULb4mzZfPqVyfE4hBcBgcyXkeLPb0eB-2Hk8OgVBjLUp3lCzsafG3zvqiFdhuQ6AqOSpHNi60GnYOG_zSRUiv9dlvHM0b2q2dAjNXtvn47cJgaGWAETD7DS2tAlXnTncy61TJEeBCW5hDwVanCgCAgXAGqbTW2HH95EKFzwZaUaOwn_Hh7hdHTH5x-YQ3d4IrY4cyzO_RbALBpSQ3zQ5nuhSqhV9OVWS3ZB7UwCNhq_3phSCbAxR3fo6BBj6rXcW0eqR2maP6e1RwZRLtXZbyGqobmCVOzjjfFLqKectfvAzbzE0IRjkQ175WbF6q5Nd9hlE2KCah9qCKHmOaUgiPU1ZdOTq9gdd0g/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Hawayein</h4>
          </div>
          <p><b>Jab Harry Met Sejal</b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="17">
            <img src="https://uce636c67d264db65d670cfcbb4b.previews.dropboxusercontent.com/p/thumb/AA3UlwDAodXwpFF2ysTyR9TBwkJVJsLAJdkSotNLoC4BVzFhm9T3TFxks910ZaVcxgwpEk72xyllNqm7ceVbL6Crj7sEcdPdfqVHQ9fvnGe-TZ1hdjk3N4YLDzJH8bZzcEpXpef4dk0sc6OBinHEDPYGLJpW37SE_IHW16JJM7qsjaqhB1rY9wyNduFmx7mCue_67X5gshkmzFk3LnoqmpStgOiAD3FWOe3246qrBRxPAjGc-7etYq2Mvgl7wL9jLjzxu_ovfc-_h993_Y1-UUYeXJgca2a6wkttLw_Qx_27hlwG61_8U6knmQAk8ikFfBV-TNTKucbbG1M0ISIga1Lthi4TD28OSKQ2nchdw0-oMg/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Dhokha Dhadi</h4>
          </div>
          <p><b>R... Rajkumar</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="18">
            <img src="https://uc2372fe1e8ffff7b97a97e1c71b.previews.dropboxusercontent.com/p/thumb/AA00TeeHv-IQ3JdZwnZbeuWvmPC6Uxy5tez0-yHZ3I3EIGtxbm2OiOxVWd7vnwZiyv8IkGmqpcHhnDG5RiCRf3nnPSBdEZVXJESDu_GzbV6hC2eohg-WsnN4ND7y4OB0x2AliM026ZNSsawBimzVaUxNpW-vP8pcG442MwuizrlIaGvAwSeJJRV9HPBByXGYABqJTfuQGOncO7QVHxHA8D-gCOMAvlwJYcTvy2LPYAPCvUhUKEDRAXRlv3ehzk6zwZGFecHiHej7NeyBK67wCHk1Meqk7W9kCcJMpsOts2THHDWxzkZFodb34WQb7I7N-Y3jiCQprMgp8rYuefqNoB0dAXBQ-Xc-V8zU7oAc7-5eLA/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Mast Magan</h4>
          </div>
          <p><b>2 states</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="19">
            <img src="https://ucce19f43139b919342fd6df4a6c.previews.dropboxusercontent.com/p/thumb/AA1oN1WDl1k0OUXxTpG0kKRFybDIPsKtDkCcU2QOFgb4SSCVTHoOemqmLzCvZPjBhPSEEy9hPMxjTkXZlI3Vli23-KBpwJ9usCJ4Ory2vmjA3f7ByohQpPle8FOakp1B9K4Jd_kxLFvfJtVf0eOgeAFwgeOUYGLjrBOpWBKp64j6tUncoNkBgtPkTbMpzyPC4tTUcrXdZMobhzhapP8ucNa2Aoe2aPJtuYKXO8oOWR2gDq20dUL3UBQtMySYL2Dye1eZoxtcs7knng8esxPu6k9EgWQ_FObt0Wr_jLGtY5SCFQj9_byFdRQS8EMC8e-eOV_u3L6gYXXFWvk7l-GKuR_Hf1rbymexFGeruHp9rH0NKA/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Meet</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="20">
            <img src="https://ucd70a90de3157c0664a51fdb415.previews.dropboxusercontent.com/p/thumb/AA0jKKEp-9CuhNoQwxEkQ6Qg_kDdjAnsph-UfrRgAcCXFICAuKK-U-Oa_yCP8OLPqhaU0tH1K6Cg7CTMgyquG_lW0KhfoZH1mXa8IzA-8nxeP8F3H_AkBKypSHAqlqfVprG5RB-FXvHZtVNNGghS6PDFykf-xki--_2z8LJ8DjwMUqu0uYm16-Lfr7oCTldR-KoYJrVke6wGJIO4WUPsCszcDswRItl1mQpUtsgH-vx_BwrYqUb1xsXFly7UOtHEqxGJMPi_fJr7nlcJ0OU9H-Og9NHzD2s6eCADGBb7PdJzj4MmtIWTdYKynTSLms8ZmU3nlM4fPUBtMEuCsbGkzNNc4OfF79Op-Gv4yumLmg5q3g/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Tu Mila Toh Haina</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="21">
            <img src="https://uc04c530c4a1fc642e6c9ca1f603.previews.dropboxusercontent.com/p/thumb/AA2AZohWDk25JSMFqPgO-h1Qkb0_5P1m9-rlqvFuu5I76RFx6KXmo6dtjmwoOc_i9pdPE1ed93R0C0DfCRv3RjXx78zWwjeF33pz-m3kkQlcWlzeO3XzkK29HyJ_3Xuz-Xht01XGsxyIfPq-3VYlePIqJnq1pkhnK96DS47S37-qB93yQm_J1LrywokCBG0-iQTKLHOePu1l47e53UDtBitPURJjSMLBuTgMKSRLTmleN1CZo5UPVQY0zOfcFFmjdHMmmimRymUxKvm2hzSRgepCbEfrtAuLuuD5X0RZ1RhLtTXr9ft3xI668fucs2WgNpTOcIjWcmIHT6e1m3PsAoN7cvsAXg2JqPHCDEpb6Kh_Wg/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Tujhe Kitna Chahne Lage</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="22">
            <img src="https://uc33bfbcefe6fa68f6c1cdddf2b8.previews.dropboxusercontent.com/p/thumb/AA1xnkr_ckPrsGBXauZ2dBjv2W9dYVvgquqthKgNDAswVLv8DQZVw1SDzXU-Lis_4SnHgiTfohKpcya4W4RfuTkkQNsLUHcGtw6FlX61IRhsSMGn9s-QPuF3gUsRmLc2xq9DR8IcmQOKSCswKU-fGYupQetlNC534Y8-bs3TdP_1TSBFMqwRkrm4ow2BzcmGvYTjx9OHRK_zYjLpqZKfRm84i8sgTrrSd9hj1cfggbU7bUcUz40Bv6ceR8-UMdqr1wo6SlpEyAwVohmQpbfWhgts06B__HHZvOeOPi2pW6KL_xuc52jwx0mH2JAqQbOux-pb3H6lOcTtgcqKxjRd7A-wzrQ3Wnbf-Bhtm7x5jETnjA/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Chahun Main Ya Na</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="23">
            <img src="https://uc296443bbdc675f60dcd958ec6c.previews.dropboxusercontent.com/p/thumb/AA3p5q4CrMK8oRrCgE1iFQMPVmr9ARK19ltHnuUp39QzP-FFqogxRSQ1KbkXCkPpUW8UshMFfbLQpZfSTz-5Av9VH2rYTA6VZa3sz2uSho8ATaGORw0VSRN7lJLNcRf-ZT-k3FiJq7tyz-RzdD1Dsh8EiW3YmtJCPSnLdkm7ytO44xqtEx8iuIms2F19AY6dS4D5F2wQgzANKuMucTx2c_EI1dwj08L3Y_vU9n6qeuUqyrW-UoXNt5yY6PvKivQPL6NiIQAZ94I6j374RB9p7UNauyXTGirUl92TwzmqR7jVLHd5FYnrpAvQwnDq544E_tLcnws4CIsNtAiny1Ka0eUAqRBIk3OPNw_h_yn-NplHdw/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Mahi Bolna</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="24">
            <img src="https://ucc000b2aaac15c8206cc8846395.previews.dropboxusercontent.com/p/thumb/AA3aAPP83EkFbBDuCrDAX728dbUoviHoSFg3Z9TCET5ICpr2NZNg8BM15oAM1AK2Cym1_EeMN9C4-zqJMVbL_GOCuKJiEsAnw6ZUqTwIyl5IouFb2jXs1VfmGqm6TZ38a6BofsZohsUl3n-oJ_SUvPXYM04VEE0Rb9OvivoRCbjtdsrgUaA4wKR5Cc4uK7FDLlbgJYSkn1rW9do2PX5g51oNi-YKlbhW-YrqJASFVCxuFoZRXm3dNHXoZtSQLW3trPBdjqVoudu3U2OkttqkWHVksQfRjBzEACwoIeuZHQGuocjTgw-YwrVmGmABo-WBQV_pF_zpFqGJEgazQDotK6v-zCZlmvmUt4AEC4-v7J7RNg/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Janam Janam</h4>
          </div>
          <p><b>Dilwale</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="25">
            <img src="https://uc8c09311edc46b7e40fab35c2ea.previews.dropboxusercontent.com/p/thumb/AA1KaSXAsxBPd87ltyX-jlCH8C5OJAvk0bUUwuNvkVkdDnMQv6Myu0nCIM4ZG9yts1LGDFQkd9phJrrweddJkEkW9YiOx4CVfUoptIgV6INm-OV5RjwgDbIBNDOLEBIvmFlG2abovzRitsSkMwOrFjPx3IfvcE8f4V8EznTAPqtkiBSxN8XOLKPBp4vmvGyLDTjznmeUcKO024_JmRK62xtEqmIeEHblgH55tdbhC3HY4AZ_tRA0NCaz5Y2nhBKUKz7YUc0Hj5NmX60kIjD9qlNcXwuGhNr5pffKY4ACJKTIu_j1ecgY04yqLuDgACrGHEQa2zIFXglD6Lj2-7Lt_xZipRzTfpvSqjJKJLw_2jabEQ/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Kabhi Jo Baadal Barse</h4>
          </div>
          <p><b>Song Info</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="26">
            <img src="https://uc90832c2f0ac57039e23c08a4af.previews.dropboxusercontent.com/p/thumb/AA14Qre2FWr80qmBggnmhqIGS6mTvy8WMnUvRCPVK9DEh9GvcLWEg3T-Tpw38jCkiJusfanZUxIyspGUcc6SL14urYvgmHjIX1n2WxT7lwdz63azrfpx0XhF4aBPGK5aYPz4wNryxMjJ1ODzfr7vbMWMk9urg2mpLkEqFfNiq1bumxCLpb42gTmFJdx3Wp1sXn2jWEYM3e8svhIo2F0fv30YPLlVienVOjdIrD9xj4pS6Gn4Ok955gz-V00YKEhzHvSpqhUXtsTmGnHQNSnns4RH7SwGuuehBSJjjOQfoYCVDk7R_5pCviSc5y7-rguPd-X5WTjYpcydv7D3LFiPoU0u4SzODv77BfEWCAiFJN8KgA/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Main Phir Bhi Tumko Chahunga</h4>
          </div>
          <p><b>Half Girlfriend</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="27">
            <img src="https://uc825fef45e23794d14cc9c50cb7.previews.dropboxusercontent.com/p/thumb/AA01pYH001NfzUOPCvF-EkbSyXVaJ_BJfje7cOuxbeSCN136l1bP_8uwbPWw4iA1rGW_sfH23B22NTGsiTHPCHGws9kT9FxIs6qR41BFKCA7y0RyD4MqkLOQPZy3lvfemWkl32L-IIUOa7J9U_mc2LqUfAKIu7X8QVIHUdECOQSz-Zn6l4WRpuOpvVn5Cum91mLm-PBx4zjSgO6vLDlZwQaokGdOvPSZeZKk08Y7WF2k4-m7IHu7mqbnGjoP5F_DQzCCWHAitDLGaEFfGJdwDos3wC9v-tZtDwRyAKWDg_OhC3Pq2GSCFMBO-oiktzHJHSi3_icRSRY11Ng2AlO1m0ZUXKse70qbKDb_ClrRRtYzZg/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Main Rang Sharbto..</h4>
          </div>
          <p><b>Phata Poster Nikala Hero</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="28">
            <img src="https://uc124e9cf621475d7698eff502cd.previews.dropboxusercontent.com/p/thumb/AA2nOD0WZlhnLmIiE_rwdjFBM_1rS7JrWFR6Ycd7ioLpLXsn0qzi1wJgLpfUa9OgAqP5k_9tsLR-O0PQ-oztG_tQA4biJuWyUuh5tqnXVQq1hD1DJoUdxxWF348KrfzuYW8bUtyMczRkwYvjiEKGoVC2C05HRg_2WkIDXm27B0-NLH2HiZ8LbbSob4bTRdN_teuEA4lx5WIwdE9w-0s2FEVDj5TtkC68Oj9_foal0yzjV-kmhJS88d-B2TqP5p-qcjF4uDEGq_nf_z0nL6i0OmLGx9SqoIjd6nls79yXrsAdNSmZmGh5rWCycj-fOWU8TVYGnwTtVi9T8Uao7vaffWV8elodvxWQA1ibgSNzrx28Yg/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Nashe Si Chadh Gayi</h4>
          </div>
          <p><b>Song Info</b></p>
          <button class="favBtn medium" tabindex="0" role="button" data-toggle="popover" data-trigger="hover"
            onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="29">
            <img src="https://uc03b4bfc12edbb51233af596b4f.previews.dropboxusercontent.com/p/thumb/AA0h6WjwuEvp1OeAnQfkOUjbqYcfaLwPyCqXHWBODcsECGBUrhgwd3KDJrMyf-tJmykjPphy7IFbD13J4jlZ2E93yuZ0J8cKu9SixgjBMjengcWq054DoNutvOGRcpMECAI4LTE9EJpcfILZVXuWRX6AgqeBYYvyzt4LXKNO6HU1tZROI7qL2yOPugVTnuOA1z-ozeNiNzGN0ZHec4HBtok8O9sSHp3CcsFltuONkFLRq-uLByltdUsB38273RcSvSZzKb2soqr6W-OR900TG9R8OQ0WiMC2XcKa_6KtgByyZPxgF2Xv2JuBfYcK2zF133XFQbjdxUehZx7qcKvzmICE_cWAIpebU6iFbSfTgZB1ww/p.jpeg?size=1600x1200&size_mode=3">
          </a>
          <div class="songNameContainer">
            <h4>Milne_Hai_Mujhse _Aayi</h4>
          </div>
          <p><b>Aashiqui 2</b></p><button class="favorite" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="30">
            <img src="https://uc3019cf5162594a3f72461a2eb5.previews.dropboxusercontent.com/p/thumb/AA1pOqqDgTuV93stTkCU7711h2jLgMegW6kfrezaCiy1Pp6QHWFWGPMiQTNxHAqYh5cVcIj06AQcWZJqBd_pERjahGbxB4zPt9ySvlPcs7l4PbkKQln9ixR63W_n4SK9uOEeqKm3RutM6Xref8F8wwRU1HOLM0UAipqSnvxCvAjUupagbQBzpbBIGJdOJQtWLUhzqB7D6qOfwZR4hpUgT51Nn3--7zdL2D515RW_4BF2971hWKykqbIuAjZ69m2AyW65kAP_aX79LdyIgRTcEP16bcnYKUBBLNTUf8nBAoV5Snfl6jCWbHkBGZNjt_INSZMhp17YEtFLEFa1DuuaagzhaUG8Fx_pTkzaZyTquSg7eQ/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Pachtaoge</h4>
          </div>
          <p><b>Jaani ve</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="31">
            <img src="https://ucd2213e254979d9f8ee5f6964f2.previews.dropboxusercontent.com/p/thumb/AA0PQkRvMZCYGsRivxb82-pR3JSrCIQAoWJXPLxUHqTKIb1vOxajinfLNWup7P-Uo7DorUJvYoHGdFxWJqrlPbzDcVGopF5T-iBf57RKEdND2ha1haz5KAtiUlGJEugRNT2GcoJafGWiBvBWR1hCEM-RZCMIvsGbWTzPvf6zUyt3qJCZTm5FwNdw09FpF4YDJ3y8EBnZT7iRM9inqnEs7sY8RbRIPMNGJP_iLFakPVy6S3FzM_CDOqhAuJV6DepuaQ0o99VX5Z0hXKfnKOW9GOszEvPgoj3JxmwjAYbOsq3_mTYl0C4LRKlM0AnfvOycZ26CdD4lMvlcq9QrrAxUL2vDwUr4grlJ9r1ux3goLKrzGw/p.jpeg?size=178x178&size_mode=1">
          </a>
          <div class="songNameContainer">
            <h4>Roke Na Ruke Naina</h4>
          </div>
          <p><b>Badrinath Ki Dulhania</b></p><button class="favBtn medium" tabindex="0" role="button"
            data-toggle="popover" data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="32">
            <img src="https://uccda4d07dd75bc0e38bcd38a5ce.previews.dropboxusercontent.com/p/thumb/AA1AxLfjTYzPTW2RTJqYiwv3SF71f1dTSUzWX-QZzWlJHH_GcZWTdATorv4fYSC84L1408y-Gsz_ZnoJvL3biK38-DRhUcxvM0iubsrWJ1Qog_MTek47CCU8ylK4MuTaYTk7nEFR1ru2j1m4VHg-Y2DcATQhRIF_CnOzg0F3k4je6ZwG88KXQ7T5QGoPLY3I4NG4ptjoUVutShbpGPAonAoJsTF1A0sniAwCjtl4VEgBIO0JgKdPJtKFt_hQmCN2oYhHK72uV6U9tuW7UVFDBTEXuJkoU9LfDbI_2FDaB3j9W_QdP_-y0oSeDOKdpqRkcPg5OH2am454B_mwR6Em4zEA1CO1GYCUqHAqj11dxglBTA/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Shayad</h4>
          </div>
          <p><b>Love Aaj Kal</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>


        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="33">
            <img src="https://uc640acc47126b17d7fcd26afa79.previews.dropboxusercontent.com/p/thumb/AA0prgcBcPHuVgYddOClKONGgyaYwrPxliuOMrYCZmH-fTI29Hg2j_JDF0CAcXxY7xotxnmTNPcrYprIPbuC__Z5FYacLJ3iJC4awNJF3rD6ozxsSMr369mXp9DM6KnLojb0IFCwzCC-3YZxSu7ZV_0pwkZIq_s-ES7ZaPnmhvOJmV9o0ok4MOFaEAsxpLs_MRX-WotKnoW2dHAjva-kV7f_PCgsHt3F2q2MQjDfSArYxbEwPCJLFGykHJQGIKAzyARInPsH_Trtg979cdV46wg8_KNspL9a1udniJsjQZGYS8npFmjyIBKERCxirQb5_bLuqRkFIc_UyXTBciw-LBoZeoELdOnmKjBIKu0zQ3ndlA/p.jpeg?fv_content=true&size_mode=5https://uc640acc47126b17d7fcd26afa79.previews.dropboxusercontent.com/p/thumb/AA0prgcBcPHuVgYddOClKONGgyaYwrPxliuOMrYCZmH-fTI29Hg2j_JDF0CAcXxY7xotxnmTNPcrYprIPbuC__Z5FYacLJ3iJC4awNJF3rD6ozxsSMr369mXp9DM6KnLojb0IFCwzCC-3YZxSu7ZV_0pwkZIq_s-ES7ZaPnmhvOJmV9o0ok4MOFaEAsxpLs_MRX-WotKnoW2dHAjva-kV7f_PCgsHt3F2q2MQjDfSArYxbEwPCJLFGykHJQGIKAzyARInPsH_Trtg979cdV46wg8_KNspL9a1udniJsjQZGYS8npFmjyIBKERCxirQb5_bLuqRkFIc_UyXTBciw-LBoZeoELdOnmKjBIKu0zQ3ndlA/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Tose Naina</h4>
          </div>
          <p><b>Mickey Virus</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <div class="songCard col-md-3">
          <a href="javascript:void();" class="album-poster" data-switch="34">
            <img src="https://uc413037c2737345733505159095.previews.dropboxusercontent.com/p/thumb/AA32yiGLYG65iotKQZJx7NEvyQ_sDOccLnXOMlJF8fe78GIEiFqDTaRSZ1DULUOkzOxYUJwHiKNp31c2JweC_HW_n8YY_Xwj1HIBC2m-tGVjmpy_2XqG_bZ_kt9yCfYchvKHxeSRK4O0D-AEgHcYvPhkBsAYmoFLYH2qiOUH7jrXZbuRwqc3DFZx57SgPaeraUyySNsuX-Ffw4MCxLC6cGFMjkOml2AJ52lQIojGEHEB2tBTKIPZSA2YgDraWF5iZG6rgfZrzL2gXtK3x28I71fH2cdQJ3_KuA__q75r4VzK2OOo4P-YPAB8IjfuNukqWeXFgGdWwRCXZg8nNeUB4JIVhSxmf_QhPJp08KCxUEx83Q/p.jpeg?fv_content=true&size_mode=5">
          </a>
          <div class="songNameContainer">
            <h4>Arjit Singh at GIMA_Awards</h4>
          </div>
          <p><b>Mashup</b></p><button class="favBtn medium" tabindex="0" role="button" data-toggle="popover"
            data-trigger="hover" onclick="changeIcon(this)" title="Add favorites"
            data-content="Now make your own playlist by adding into favorites"><i class="fa fa-heart-o"
              style="font-size:35px;color:red"></i></button>
        </div>

        <br>

        <span>
          <h1 style="color:brown; font-family: cursive;"> More Songs <br> Coming Soon !!!</h1>
        </span>
        <hr>


      </div>
    </div>


    <div id="aplayer">

      <a data-placement="right" data-toggle="tooltip" title="Shuffle"> <button type="button"
          class="aplayer-icon aplayer-icon-order"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 32 32">
            <path
              d="M22.667 4l7 6-7 6 7 6-7 6v-4h-3.653l-3.76-3.76 2.827-2.827 2.587 2.587h2v-8h-2l-12 12h-6v-4h4.347l12-12h3.653v-4zM2.667 8h6l3.76 3.76-2.827 2.827-2.587-2.587h-4.347v-4z">
            </path>
          </svg></button> </a>
    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>

    <script src="jquery-3.5.1.min.js"></script>
    <script src="{% static '/m1.js'%}"> </script>


</body>

</html>
